
ScreenSpaceDecal/Library/

ScreenSpaceDecal/Logs/

ScreenSpaceDecal/UserSettings/

ScreenSpaceDecal/ScreenSpaceDecal.sln

ScreenSpaceDecal/Assembly-CSharp-Editor.csproj

ScreenSpaceDecal/Assembly-CSharp.csproj
